<div class="container">
    <h1>HİZMETLERİMİZ</h1>
    <div class="card-container">
        @for (service of services; track $index) {
        <div class="card">
            <a routerLink="/project">
                <div class="card--display">
                    <img [src]="service.icon" width="200px" height="200px" alt="Resim">
                    <i class="material-icons"></i>
                    <h5>{{service.title}}</h5>
                </div>
                <div class="card--hover">
                    <h2>{{service.title}}</h2>
                    <p>{{service.description}}</p>
                    <p class="link theme-btn-s2" routerLink="/project" >Proje Detayları</p>
                </div>
            </a>
        </div>
        }
    </div>
</div>