<div class="container">
    <h1>HİZMETLERİMİZ</h1>

</div>

<div class="card-container">
    @for (service of services; track $index) {
    <mat-card class="card" appearance="outlined" routerLink="/services">
        <img mat-card-image [src]="service.icon" alt="Photo of a Shiba Inu">
        <mat-card-content class="content">
            <h5>{{service.title}}</h5>
            <p>
                {{service.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/services" mat-button>Detaylar</button>
        </mat-card-actions>
    </mat-card>
    }

</div>

<br>
<br>
<br>
<br>
<br>
<br>