<app-navbar></app-navbar>
<div class="container">
  <h2>İLETİŞİM BİLGİLERİMİZ</h2>
  <div class="card">
    <div class="card-one">
      <i class="fa-solid fa-map-location-dot"></i>
      <h3>Adres</h3>
      <p style="word-break: auto-phrase; white-space: break-spaces">
        Üngüt, Soylu Sitesi altı Arıkca İnşaat, Prof. Dr. Necmettin Erbakan Blv
        Yeni Adliye karşısı, 46050 Onikişubat/Kahramanmaraş
      </p>
    </div>

    <div class="card-two">
      <i class="fa-solid fa-phone"></i>
      <h3>Telefon</h3>
      <p>+90 (533) 422 11 43</p>
    </div>

    <div class="card-three">
      <i class="fa-regular fa-envelope"></i>
      <h3>Email</h3>
      <p>arikcainsaat&#64;gmail.com</p>
    </div>

    <!-- <div class="card-four">
            <i class="fa-solid fa-sheet-plastic"></i>
            <h2>11K+</h2>
            <h3>Toplam Proje</h3>
        </div> -->
  </div>
  <br />
  <br />
</div>
<app-footer></app-footer>
