<div class="container">
    <div class="card">
        <div class="card-one">
            <i class="fa-regular fa-id-card"></i>
            <h2>15</h2>
            <h3>Yıllık Tecrübe</h3>
        </div>

        <div class="card-two">
            <i class="fa-solid fa-building"></i>
            <h2>10K+</h2>
            <h3>Konut Projesi</h3>
        </div>

        <div class="card-three">
            <i class="fa-solid fa-city"></i>
            <h2>14m2</h2>
            <h3>Toplam İnşaat Alanı</h3>
        </div>

        <div class="card-four">
            <i class="fa-solid fa-sheet-plastic"></i>
            <h2>11K+</h2>
            <h3>Toplam Proje</h3>
        </div>
    </div>
    <br>
    <br>
 
</div>
