<footer class="footer">
    <div class="container">
        <div class="footer-left">
            <p>Dünya standartlarında, kaliteli ve modern yapılar inşaa etme misyonuyla kurulan Arıkca İnşaat bu misyona
                uygun olarak projeler geliştirmeye devam etmektedir.</p>
            <h2>Bize Ulaşın</h2>
            <div class="contact">

                <a href="tel:+90 (533) 422 11 43" class="phone">
                    <div class="icon"><i class="fas fa-mobile"></i></div>
                    +90 (533) 422 11 43
                </a>

                <a href="mailto:demo@demo.com">
                    <div class="icon"><i class="fas fa-envelope-open-text"></i></div>arikcainsaat&#64;gmail.com
                </a>

                <div class="icon"><i class="fa-solid fa-location-dot"></i>
                    <span>Üngüt, Soylu Sitesi altı Arıkca İnşaat, Prof. Dr. Necmettin Erbakan Blv Yeni Adliye karşısı,
                        46050
                        Onikişubat/Kahramanmaraş</span>
                </div>
                <div class="menu">
                    <h5>Hızlı Menü</h5>
                    <a routerLink="/about">Hakkımızda</a>
                    <a routerLink="/project">Projelerimiz</a>
                    <a routerLink="/services">Hizmetlerimiz</a>
                    <a routerLink="/photos">Resim Galerisi</a>
                    <a routerLink="/contact">İletişim</a>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <div class="maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.096192228956!2d36.82609711200541!3d37.59989507191331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152ddb3290f32a45%3A0xa2ac97d52710d9e9!2zQXLEsWtjYSDEsG7Fn2FhdA!5e0!3m2!1str!2str!4v1723117571627!5m2!1str!2str"
                    width="900px" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="footer-top">
            <p>Copyright © 2024. Her Hakkı Saklıdır. kopyalanması, çoğaltılması ve dağıtılması halinde yasal haklarımız
                işletilecektir.</p>

            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>