
.services {
    background-image: url("/assets/milad-fakurian-0rL7ucprd90-unsplash.jpg");
    overflow: hidden;
    width: 100%;
    background-repeat:round;
}

.footer {
    width: 100%;
    height: 570px;
    background-image: url("/assets/ekran.png");
}