
    <h1>Projelerimiz</h1>
    <div class="card-container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @for (service of services; track $index) {
                <a class="swiper-slide card" routerLink="/project">
                    <div class="card--display">
                        <img [src]="service.icon" width="200px" height="200px" alt="Resim">
                        <h5>{{service.title}}</h5>
                    </div>
                </a>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
