
  // padding: 50px;
  // width: 100%;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 50px;
  }

  .card-container {
    width: 100%;


    .swiper {
      width: 100%;
      height: 100%;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }


    .card {
      font-weight: bold;
      position: relative;
      width: 33.3%;
      height: 300px;
      border-radius: 0px;
      overflow: hidden;
      border: none;

      .card--display {
        width: 100%;
        height: 100%;
        position: relative;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
        h5 {
          position: absolute; /* Konumu absolute yapıyoruz */
          bottom: 0; /* Alt kısmına yerleştiriyoruz */
          width: 100%;
          text-align: center;
          background: rgba(0, 0, 0, 0.5); /* Yarı saydam bir arka plan ekliyoruz */
          color: white; /* Yazı rengini beyaz yapıyoruz */
          padding: 10px;
          margin: 0; /* Varsayılan marjinleri sıfırlıyoruz */
        }
      }
    }
  }

