
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$arikcaWebProject-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($arikcaWebProject-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($arikcaWebProject-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($arikcaWebProject-theme);
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");

$font-family: "Poppins", sans-serif;
$font-size-base: 0.925rem;
$base-color: rgb(197, 167, 102);
$text-dark: #3c4250;
$border-color: #eceef3;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $font-family;
  background: #f3f3f3;
}

.theme-btn-s2 {
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: #2b3b95;
  padding: 9px 32px;
  border: 1px solid;
  border-radius: 3px;
  text-transform: uppercase;
  display: inline-block;
  line-height: initial;
  transition: all 0.4s ease;
}
a {
  text-decoration: none;
  transition: all 0.2s ease;
}
.theme-btn-s2 {
  background-color: rgba(255, 255, 255, 0.9);
  color: #131e4a;
}

.theme-btn-s2:hover,
.theme-btn-s2:focus,
.theme-btn-s2:active {
  background-color: #2b3b95;
  color: #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
